a {
  -webkit-transition-property: color, background-color, fill;
  transition-property: color, background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.page {
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.sitenav__link {
  padding-bottom: 32px;
  padding-top: 32px;
  margin-right: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  display: none;
}
.sitenav__link:hover, .sitenav__link:focus {
  cursor: pointer;
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .sitenav__link {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .sitenav__link {
    display: block;
  }
}

.sitenav__link--current {
  color: #2196f3;
}
.sitenav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.sitenav,
.sitenav__list,
.authnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__container {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sitenav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .sitenav__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .sitenav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.sitenav__logo--blue {
  color: #2196f3;
}

.authnav {
  margin-left: auto;
  display: none;
}
.authnav__iconenv {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.authnav__icontel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .authnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .authnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 21px;
    margin-bottom: 11px;
    margin-left: auto;
  }
}

.sitehnav__link--item,
.authnav__link--item {
  margin-right: 0;
}

.authnav__link {
  padding-bottom: 32px;
  padding-top: 32px;
  margin-right: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #afb1b8;
}
.authnav__link:hover, .authnav__link:focus {
  cursor: pointer;
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .authnav__link {
    padding: 0;
    margin-bottom: 10px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 480px;
  min-height: 400px;
  background-size: cover;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-mob-img@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-mob-img@1x.jpg");
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (mid-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-mob-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-mob-img@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-tab-img@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-tab-img@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (mid-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-tab-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-tab-img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-desk-img@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-desk-img@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (mid-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header/header-desk-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-desk-img@2x.jpg");
  }
}

.hero__title {
  width: 360px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  border: none;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-family: inherit;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__closebtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__closeicon:hover {
  fill: #2196f3;
}

.modal__title {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 370px;
  height: 342px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}
.form__title {
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__icon {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 12px;
  top: 50%;
  fill: #212121;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__field:last-child {
  margin-bottom: 0;
}

.field__input {
  position: relative;
  border: 0;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.field__input--text {
  padding: 12px 16px;
  min-width: 370px;
  min-height: 120px;
  resize: none;
}
@media screen and (min-width: 1200px) {
  .field__input {
    min-width: 448px;
  }
}
.field__input:focus + .form__icon {
  fill: #2196f3;
}

.agree {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.12;
  width: 370px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  color: #757575;
}
.agree__link {
  margin-left: 5px;
  color: #2196f3;
  text-decoration: underline;
}
.agree__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .agree {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 12px;
    width: 425px;
  }
}

.agree__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.agree__checkbox:checked + .agree__icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.agree__submitbtn {
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.agree__submitbtn:hover, .agree__submitbtn :focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mainlist {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .mainlist {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .mainlist {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1200px;
  }
}
.mainlist__box {
  background-color: #eeeeee;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .mainlist__box {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .mainlist__box {
    min-width: 270px;
  }
}
.mainlist__icon {
  width: 70px;
  height: 70px;
}
.mainlist__title {
  margin: auto;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.mainlist__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.mainlist li {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.whatwedo {
  padding-top: 0;
  display: none;
}
.whatwedo__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.07px;
  text-transform: uppercase;
  color: #ffffff;
}
.whatwedo__card-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
}
.whatwedo__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.whatwedo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.whatwedo__photo {
  position: relative;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .whatwedo {
    display: block;
  }
}

.ourteam {
  background-color: #f5f4fa;
}
.ourteam__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}
.team__mate {
  background-color: #ffffff;
  text-align: center;
  max-width: 450px;
  /* shadows */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__mate {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__mate {
    width: 270px;
  }
}
.team__title {
  margin: auto;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team__image {
  margin-bottom: 30px;
}
.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 44px;
  margin-bottom: 30px;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socials__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #ffffff;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  -ms-flex-preferred-size: calc((100% - 15px) / 2);
      flex-basis: calc((100% - 15px) / 2);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__box:hover, .clients__box:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__box {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__box {
    width: 170px;
  }
}

.clients__box:hover .clients__icon,
.clients__box:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}
.footer__logo {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
  }
}

.footer__logo--blue {
  color: #2196f3;
}

.oursocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.oursocials__icon {
  width: 44px;
  height: 44px;
  fill: #ffffff;
}

.thumb {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .thumb {
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .thumb {
    margin-top: 0;
  }
}

.oursocials__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.oursocials__link:hover, .oursocials__link:focus {
  background-color: #2196f3;
}

.contacts {
  margin-top: 20px;
}

.contacts__link,
.contacts__link--to {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link--to {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contacts__link--to:hover, .contacts__link--to:focus {
  color: #2196f3;
}

.contacts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .tablet {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscration {
  margin-top: 60px;
  display: block;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .subscration {
    width: 450px;
    margin: 0 auto;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscration {
    margin-top: 0;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscration__form {
  display: inline-block;
  max-width: 456px;
}
@media screen and (min-width: 768px) {
  .subscration__form {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .subscration__form {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 570px;
    height: 86px;
  }
}
.subscration__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.subscration__input {
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  color: #757575;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .subscration__input {
    width: 358px;
  }
}
.subscration__btn {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1px;
  border-radius: 4px;
  border-color: #2196f3;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .subscration__btn {
    margin-top: 0;
  }
}
.subscration__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.filters__item:not(:first-child) {
  margin-left: 8px;
}

.filters__button {
  border: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  background-color: var(--background-color-header);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px;
  color: #212121;
}
.portfolio__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio__item {
  background-color: #ffffff;
}
.portfolio__link:hover, .portfolio__link:focus {
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio__card {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.portfolio__coment {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__coment, .portfolio__link:focus .portfolio__coment {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.page-header__button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .page-header__button-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__button-menu {
    display: none;
  }
}

.button-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .button-close {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .button-close {
    display: none;
  }
}

.button-close:hover .button-menu__icon-close,
.button-close:focus .button-menu__icon-close {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  margin-bottom: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__link {
  margin-bottom: 302px;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__link--current {
  color: #2196f3;
}

.mobile {
  margin-bottom: 64px;
}

.mobile__contacts {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile__contacts--blue {
  color: #2196f3;
}

.mobile__item--blue {
  margin-bottom: 32px;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.mobile-social__link {
  color: #2196f3;
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */