.page-header__button-menu {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  margin-right: 10px;
  margin-left: auto;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.button-close {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.button-close:hover .button-menu__icon-close ,
.button-close:focus .button-menu__icon-close{
fill:$accent-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  background-color: $background-color-header;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  margin-bottom: 302px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }}

.mobile-menu__link {
  margin-bottom: 302px;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  transition: color 250ms;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
}
.mobile {
  margin-bottom: 64px;
}
.mobile__contacts {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &--blue {
    color:$accent-color;
  }
}
.mobile__item--blue {
margin-bottom: 32px;
}
.mobile-social {
  display: flex;
  gap : 20px;
  &__link {
    color:$accent-color;
  }
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
