
.whatwedo {
  padding-top: 0;
&__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:$background-color-header;
}
&__card-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  left: 0px;

  background-color:$background-elements;
}
&__title {
  margin-bottom: 50px;
  color:$secondary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
&__items {
  display: flex;
  gap: 30px;
}
&__photo {
  position: relative;
  width: 370px;
}

display: none;

@include desktop {
  display: block;
}
}